<div id="contact-info" class="vcard">

    <!-- Microformats! -->

    <h1 class="fn">@ViewModel.Title</h1>

    <p>
        Cell: <span class="tel">@ViewModel.Phone</span><br />
        Email: <a class="email" href="mailto:greatoldone@lovecraft.com">@ViewModel.Email</a>
    </p>
</div>
